.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #0075BE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: yellow;
}

.App-link {
  color: #61dafb;
}

.container{
  background-color: #0075BE;
  width: 100%;
  margin: auto;
  display: flex;
}
.left-content, .right-content{
  flex-basis: 50%;
  justify-content: center;
  
}

